.Todo {
  display: flex;
  align-items: center;
  border-top: 1px #ddd solid;
  padding: 5px 20px;
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden;
}
.Todo:hover {
  background: #f7f7f7;
}
.Todo-button {
  transition: transform .2s linear;
  cursor: pointer;
  color: var(--red);
}
@media screen and (min-width: 1024px) {
  .Todo:hover > .Todo-button {
    transform: translateX(0px);
  }
  .Todo-button {
    transform: translateX(40px);
  }
}
.Todo-text {
  width: 100%;
}
.completed {
  background: #f7f7f7;
  color: #999;
}
.completed > .Todo-text {
  text-decoration: line-through;
}
