:root {
  --purple: #8E54E9;
  --red: #F03E6F;
  --blue: #4776E6;
  --green: #30B399;
  --blue-light: #03A9F4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muli', sans-serif;
  padding-top: 100px;
  min-height: 100vh;
  background: #4776E6;
  background: -webkit-linear-gradient(to bottom, var(--purple), var(--blue));
  background: linear-gradient(to bottom, var(--purple) 40%, var(--blue) 40px);
}

#root {
  padding: .5em
}

ul {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}
